p {
    background-color: antiquewhite;
    color: brown;
}
body {
    background-color: lightsalmon;
}

#resaltar1 {
    /* colores */
    background-color: yellow;
    color: red;
}
.tipo1 {
    font-size: 20px;
    font-weight: bold;
}